<div class="chat-wrapper">
  <div class="chat-messages">
    <ng-container *ngFor="let chat of chats">
      <!-- User message -->
      <div class="message user" *ngIf="chat.submitted">
        <div class="bubble user-bubble">
          {{ chat.input }}
        </div>
      </div>

      <!-- Bot message -->
      <div class="message bot" *ngIf="chat.response">
        <div class="bubble bot-bubble" [innerHTML]="chat.response"></div>
      </div>

      <!-- Active input -->
      <div class="message input" *ngIf="!chat.submitted">
        <div class="input-wrapper">
          <input type="text" [(ngModel)]="chat.input" (keyup.enter)="send(chat)" placeholder="Type your message..." />
          <button (click)="send(chat)">➤</button>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Fixed input bar if you want it detached -->
  <!-- <div class="fixed-input-bar"> ... </div> -->
</div>