<div class="chat-container">
  <div class="message-container" *ngIf="messages.length === 0">
    <p class="message">
      Welcome to your Ollama App <br />
      Write a text to start.
    </p>
  </div>
  <div
    *ngFor="let message of messages"
    class="chat-message"
    [ngClass]="message.role"
  >
    <img [src]="'assets/avatar-' + message.role + '.png'" class="avatar" />
    <div class="message-details">
      <p
        class="message-content"
        [ngClass]="{ loading: loading }"
        [innerHTML]="loading ? '...' : message.content | lineBreak"
      ></p>
    </div>
  </div>
</div>

<div class="chat-footer-container">
  <mat-form-field class="chat-input">
    <input
      placeholder="Send a message"
      matInput
      #inputMessage
      [(ngModel)]="inputContent"
      (keyup.enter)="sendMessage(inputContent)"
    />
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="sendMessage(inputContent)">
    <mat-icon>send</mat-icon>
  </button>
</div>
